*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  background-color: #f0f0f0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  background-color: #f0f0f0;
}
body {
  color: rgba(19, 16, 16, 1);
  font-family: 'Cabin', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: 'liga' on;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.cards__item {
  display: flex;
  padding: 1rem;
  width: 100%;
}
@media (min-width: 768px) {
  .cards__item {
    width: 50%;
  }
}
@media (min-width: 900px) {
  .cards__item {
    width: 33.3333%;
  }
}

@media (min-width: 1200px) {
  .cards__item {
    width: 25%;
  }
}
.card {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  display: flex;
  align-items: center;
  flex: 1;
  overflow: hidden;
}

.card:hover {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.card__content {
  display: flex;
  flex: 1;
  padding: 1.5rem;
}

.card__text {
  flex: 1;
  font-size: 1.125rem;
  line-height: 1.5;
  margin-bottom: 0;
  margin-top: 0;
}

@media only screen and (min-width: 768px) {
  @keyframes flickerAnimation1 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .flicker-one {
    animation: flickerAnimation1 35s infinite;
    animation-delay: 15s;
  }

  @keyframes flickerAnimation2 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .flicker-two {
    animation: flickerAnimation2 32.5s infinite;
    animation-delay: 25s;
  }

  @keyframes flickerAnimation3 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .flicker-three {
    animation: flickerAnimation3 29.5s infinite;
    animation-delay: 42s;
  }

  @keyframes flickerAnimation4 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .flicker-four {
    animation: flickerAnimation4 34.5s infinite;
    animation-delay: 35s;
  }

  @keyframes flickerAnimation5 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .flicker-five {
    animation: flickerAnimation5 29.5s infinite;
    animation-delay: 48s;
  }

  @keyframes flickerAnimation6 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .flicker-six {
    animation: flickerAnimation6 27.5s infinite;
    animation-delay: 22.5s;
  }

  @keyframes flickerAnimation7 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .flicker-seven {
    animation: flickerAnimation7 28s infinite;
    animation-delay: 20.5s;
  }

  @keyframes flickerAnimation8 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .flicker-eight {
    animation: flickerAnimation8 31s infinite;
    animation-delay: 9.5s;
  }

  @keyframes flickerAnimation9 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .flicker-nine {
    animation: flickerAnimation9 32s infinite;
    animation-delay: 11.5s;
  }

  @keyframes flickerAnimation10 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .flicker-ten {
    animation: flickerAnimation10 27s infinite;
    animation-delay: 13.5s;
  }

  @keyframes flickerAnimation11 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .flicker-eleven {
    animation: flickerAnimation11 30s infinite;
    animation-delay: 14.5s;
  }

  @keyframes flickerAnimation12 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .flicker-twelve {
    animation: flickerAnimation12 35s infinite;
    animation-delay: 24.5s;
  }

  @keyframes flickerAnimation13 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .flicker-thirteen {
    animation: flickerAnimation13 32s infinite;
    animation-delay: 18s;
  }

  @keyframes flickerAnimation14 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .flicker-fourteen {
    animation: flickerAnimation14 33.5s infinite;
    animation-delay: 23s;
  }

  @keyframes flickerAnimation15 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .flicker-fifteen {
    animation: flickerAnimation15 28s infinite;
    animation-delay: 16.5s;
  }

  @keyframes flickerAnimation16 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .flicker-sixteen {
    animation: flickerAnimation16 31s infinite;
    animation-delay: 18.5s;
  }

  @keyframes longDelayOne {
    0% {
      background-color: white;
      color: rgba(19, 16, 16, 1);
    }
    25% {
      background-color: goldenrod;
      color: rgba(19, 16, 16, 1);
    }
    27.5% {
      color: white;
    }
    50% {
      background-color: rgb(171, 68, 68);
      color: white;
    }
    75% {
      background-color: rgb(68, 89, 130);
      color: white;
    }
    85% {
      color: rgba(19, 16, 16, 1);
    }
    100% {
      background-color: white;
      color: rgba(19, 16, 16, 1);
    }
  }

  @keyframes longDelayTwo {
    0% {
      background-color: white;
      color: rgba(19, 16, 16, 1);
    }
    25% {
      background-color: goldenrod;
      color: rgba(19, 16, 16, 1);
    }
    27.5% {
      color: white;
    }
    50% {
      background-color: rgb(171, 68, 68);
      color: white;
    }
    75% {
      background-color: rgb(68, 89, 130);
      color: white;
    }
    85% {
      color: rgba(19, 16, 16, 1);
    }
    100% {
      background-color: white;
      color: rgba(19, 16, 16, 1);
    }
  }

  @keyframes longDelayThree {
    0% {
      background-color: white;
      color: rgba(19, 16, 16, 1);
    }
    25% {
      background-color: goldenrod;
      color: rgba(19, 16, 16, 1);
    }
    27.5% {
      color: white;
    }
    50% {
      background-color: rgb(171, 68, 68);
      color: white;
    }
    75% {
      background-color: rgb(68, 89, 130);
      color: white;
    }
    85% {
      color: rgba(19, 16, 16, 1);
    }
    100% {
      background-color: white;
      color: rgba(19, 16, 16, 1);
    }
  }

  @keyframes longDelayFour {
    0% {
      background-color: white;
      color: rgba(19, 16, 16, 1);
    }
    7.5% {
      color: white;
    }
    25% {
      background-color: slategray;
    }
    50% {
      background-color: rgb(171, 68, 68);
      color: white;
    }
    75% {
      background-color: rgb(68, 89, 130);
      color: white;
    }
    85% {
      color: rgba(19, 16, 16, 1);
    }
    100% {
      background-color: white;
      color: rgba(19, 16, 16, 1);
    }
  }

  @keyframes longDelayFive {
    0% {
      background-color: white;
      color: rgba(19, 16, 16, 1);
    }
    7.5% {
      color: white;
    }
    25% {
      background-color: slategray;
    }
    50% {
      background-color: rgb(171, 68, 68);
      color: white;
    }
    75% {
      background-color: rgb(68, 89, 130);
      color: white;
    }
    85% {
      color: rgba(19, 16, 16, 1);
    }
    100% {
      background-color: white;
      color: rgba(19, 16, 16, 1);
    }
  }

  @keyframes longDelaySix {
    0% {
      background-color: white;
      color: rgba(19, 16, 16, 1);
    }
    7.5% {
      color: white;
    }
    25% {
      background-color: black;
    }
    50% {
      background-color: rgb(171, 68, 68);
      color: white;
    }
    75% {
      background-color: rgb(68, 89, 130);
      color: white;
    }
    85% {
      color: rgba(19, 16, 16, 1);
    }
    100% {
      background-color: white;
      color: rgba(19, 16, 16, 1);
    }
  }

  @keyframes longDelaySeven {
    0% {
      background-color: white;
      color: rgba(19, 16, 16, 1);
    }
    7.5% {
      color: white;
    }
    25% {
      background-color: slategray;
    }
    50% {
      background-color: rgb(171, 68, 68);
      color: white;
    }
    75% {
      background-color: rgb(68, 89, 130);
      color: white;
    }
    85% {
      color: rgba(19, 16, 16, 1);
    }
    100% {
      background-color: white;
      color: rgba(19, 16, 16, 1);
    }
  }

  @keyframes longDelayEight {
    0% {
      background-color: white;
      color: rgba(19, 16, 16, 1);
    }
    7.5% {
      color: white;
    }
    25% {
      background-color: black;
    }
    50% {
      background-color: rgb(171, 68, 68);
      color: white;
    }
    75% {
      background-color: rgb(68, 89, 130);
      color: white;
    }
    85% {
      color: rgba(19, 16, 16, 1);
    }
    100% {
      background-color: white;
      color: rgba(19, 16, 16, 1);
    }
  }

  @keyframes longDelayNine {
    0% {
      background-color: white;
      color: rgba(19, 16, 16, 1);
    }
    7.5% {
      color: white;
    }
    25% {
      background-color: slategray;
    }
    50% {
      background-color: rgb(171, 68, 68);
      color: white;
    }
    75% {
      background-color: rgb(68, 89, 130);
      color: white;
    }
    85% {
      color: rgba(19, 16, 16, 1);
    }
    100% {
      background-color: white;
      color: rgba(19, 16, 16, 1);
    }
  }

  @keyframes longDelayTen {
    0% {
      background-color: white;
      color: rgba(19, 16, 16, 1);
    }
    7.5% {
      color: white;
    }
    25% {
      background-color: black;
    }
    50% {
      background-color: rgb(171, 68, 68);
      color: white;
    }
    75% {
      background-color: rgb(68, 89, 130);
      color: white;
    }
    85% {
      color: rgba(19, 16, 16, 1);
    }
    100% {
      background-color: white;
      color: rgba(19, 16, 16, 1);
    }
  }

  @keyframes longDelayEleven {
    0% {
      background-color: white;
      color: rgba(19, 16, 16, 1);
    }
    7.5% {
      color: white;
    }
    25% {
      background-color: slategray;
    }
    50% {
      background-color: rgb(171, 68, 68);
      color: white;
    }
    75% {
      background-color: rgb(68, 89, 130);
      color: white;
    }
    85% {
      color: rgba(19, 16, 16, 1);
    }
    100% {
      background-color: white;
      color: rgba(19, 16, 16, 1);
    }
  }

  @keyframes longDelayTwelve {
    0% {
      background-color: white;
      color: rgba(19, 16, 16, 1);
    }
    7.5% {
      color: white;
    }
    25% {
      background-color: black;
    }
    50% {
      background-color: rgb(171, 68, 68);
      color: white;
    }
    75% {
      background-color: rgb(68, 89, 130);
      color: white;
    }
    85% {
      color: rgba(19, 16, 16, 1);
    }
    100% {
      background-color: white;
      color: rgba(19, 16, 16, 1);
    }
  }

  @keyframes longDelayThirteen {
    0% {
      background-color: white;
      color: rgba(19, 16, 16, 1);
    }
    7.5% {
      color: white;
    }
    25% {
      background-color: slategray;
    }
    50% {
      background-color: rgb(171, 68, 68);
      color: white;
    }
    75% {
      background-color: rgb(68, 89, 130);
      color: white;
    }
    85% {
      color: rgba(19, 16, 16, 1);
    }
    100% {
      background-color: white;
      color: rgba(19, 16, 16, 1);
    }
  }

  @keyframes longDelayFourteen {
    0% {
      background-color: white;
      color: rgba(19, 16, 16, 1);
    }
    7.5% {
      color: white;
    }
    25% {
      background-color: black;
    }
    50% {
      background-color: rgb(171, 68, 68);
      color: white;
    }
    75% {
      background-color: rgb(68, 89, 130);
      color: white;
    }
    85% {
      color: rgba(19, 16, 16, 1);
    }
    100% {
      background-color: white;
      color: rgba(19, 16, 16, 1);
    }
  }

  @keyframes longDelayFifteen {
    0% {
      background-color: white;
      color: rgba(19, 16, 16, 1);
    }
    7.5% {
      color: white;
    }
    25% {
      background-color: slategray;
    }
    50% {
      background-color: rgb(171, 68, 68);
      color: white;
    }
    75% {
      background-color: rgb(68, 89, 130);
      color: white;
    }
    85% {
      color: rgba(19, 16, 16, 1);
    }
    100% {
      background-color: white;
      color: rgba(19, 16, 16, 1);
    }
  }

  @keyframes longDelaySixteen {
    0% {
      background-color: white;
      color: rgba(19, 16, 16, 1);
    }
    7.5% {
      color: white;
    }
    25% {
      background-color: slategray;
    }
    50% {
      background-color: rgb(171, 68, 68);
      color: white;
    }
    75% {
      background-color: rgb(68, 89, 130);
      color: white;
    }
    85% {
      color: rgba(19, 16, 16, 1);
    }
    100% {
      background-color: white;
      color: rgba(19, 16, 16, 1);
    }
  }

  .card--long-delay-one {
    animation: longDelayOne 120s infinite;
    animation-delay: 300s;
  }

  .card--long-delay-two {
    animation: longDelayTwo 150s infinite;
    animation-delay: 325s;
  }

  .card--long-delay-three {
    animation: longDelayThree 130s infinite;
    animation-delay: 350s;
  }

  .card--long-delay-four {
    animation: longDelayFour 160s infinite;
    animation-delay: 375s;
  }

  .card--long-delay-five {
    animation: longDelayFive 120s infinite;
    animation-delay: 400s;
  }

  .card--long-delay-six {
    animation: longDelaySix 140s infinite;
    animation-delay: 425s;
  }

  .card--long-delay-seven {
    animation: longDelaySeven 180s infinite;
    animation-delay: 450s;
  }

  .card--long-delay-eight {
    animation: longDelayEight 170s infinite;
    animation-delay: 475s;
  }

  .card--long-delay-nine {
    animation: longDelayNine 120s infinite;
    animation-delay: 500s;
  }

  .card--long-delay-ten {
    animation: longDelayTen 135s infinite;
    animation-delay: 525s;
  }

  .card--long-delay-eleven {
    animation: longDelayEleven 125s infinite;
    animation-delay: 550s;
  }

  .card--long-delay-twelve {
    animation: longDelayTwelve 145s infinite;
    animation-delay: 575s;
  }

  .card--long-delay-thirteen {
    animation: longDelayThirteen 160s infinite;
    animation-delay: 600s;
  }

  .card--long-delay-fourteen {
    animation: longDelayFourteen 180s infinite;
    animation-delay: 625s;
  }

  .card--long-delay-fifteen {
    animation: longDelayFifteen 120s infinite;
    animation-delay: 650s;
  }

  .card--long-delay-sixteen {
    animation: longDelaySixteen 140s infinite;
    animation-delay: 675s;
  }
}
